<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>量房订金</title>
		<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="css/global.css" media="all">
		<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/table.css" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	</head>

	<body onload = "init();">
		<div class="admin-main">

			<blockquote class="layui-elem-quote">
				<a href="javascript:;" class="layui-btn layui-btn-small" id="add">
					<i class="layui-icon">&#xe608;</i> 订金日期选择
				</a>
				<a href="#" class="layui-btn layui-btn-small">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i> 订金统计
				</a>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>订金列表</legend>
				<div class="layui-field-box">
					<table class="site-table table-hover">
						<thead>
							<tr>
								<th >编号</th>
								<th >金额</th>
								<th >日期</th>
								<th >状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="measures">
							<tr>
								<td id = "measureId">1</td>
								<td id = "measurePrice">11</td>
								<td id = "measereDate">2016-11-16 11:50</td>
								<td id = "measereStatus">已核销</td>
								<td>
									<a href="/detail-1" target="_blank" class="layui-btn layui-btn-normal layui-btn-mini">核销</a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page">
				</div>
			</div>
		</div>
		<script type="text/javascript" src="plugins/layui/layui.js"></script>
		<script>
            function init() {
                var pageNum = getParam("pageNum");
                if(pageNum == undefined) {
                    pageNum = 0;
				}
				getMeasures(pageNum*15, null, null, null);
			}

			function getParam(param) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                var r = window.location.search.substr(1).match(reg); //匹配目标参数
                if (r != null) return unescape(r[2]); return null; //返回参数值
			}

			function getMeasures(pageStart, startDate, endDate, status) {
                $.ajax({
                    type : "GET",
                    contentType: "application/json",
                    url:"/finance/measures" ,
                    data:{
                        pageStart : pageStart,
                        startDate : startDate,
                        endDate : endDate,
                        status : status
                    },
                    success:function(result){
                        if (result.status == 1) {
                            $("#userId").val("");
                            $("#password").val("");
                            alert("密码错误，请重新登录");
                        } else {
                            var innerHTML = "";
                            $(result.data).each(function(i, measure) {
                                innerHTML = innerHTML + "<tr><td id = 'measureId'>" + measure.measureId + "</td><td id = 'measurePrice'>" + measure.measureId
									+ "</td><td id = 'measereDate'>" + measure.measureDate + "</td><td id = 'measereStatus'>" + (measure.measureStatus == 0 ? "未核销":"已核销")
									+"</td>";
                                if(measure.measureStatus == 0) {
                                    innerHTML = innerHTML + "<td><a href='finance/measureStatus?measureId=" + measure.measureId + "'>核销</a></td>";
                                } else {
                                    innerHTML = innerHTML + "<td></td>";
								}
                                innerHTML = innerHTML + "</tr>";
                            });
                            $("#measures").html(innerHTML);
                        }
                    }
                });
			}

			layui.config({
				base: 'plugins/layui/modules/'
			});

			layui.use(['icheck', 'laypage','layer'], function() {
				var $ = layui.jquery,
					laypage = layui.laypage,
					layer = parent.layer === undefined ? layui.layer : parent.layer;
				$('input').iCheck({
					checkboxClass: 'icheckbox_flat-green'
				});

				//page
				laypage({
					cont: 'page',
					pages: 25 //总页数
						,
					groups: 5 //连续显示分页数
						,
					jump: function(obj, first) {
						//得到了当前页，用于向服务端请求对应数据
						var curr = obj.curr;
						if(!first) {
							//layer.msg('第 '+ obj.curr +' 页');
						}
					}
				});

				$('#add').on('click', function() {
					$.get('temp/edit-form.html', null, function(form) {
						layer.open({
							type: 1,
							title: '添加表单',
							content: form,
							btn: ['保存', '取消'],
							area: ['600px', '400px'],
							maxmin: true,
							yes: function(index) {
								console.log(index);
							},
							full: function(elem) {
								var win = window.top === window.self ? window : parent.window;
								$(win).on('resize', function() {
									var $this = $(this);
									elem.width($this.width()).height($this.height()).css({
										top: 0,
										left: 0
									});
									elem.children('div.layui-layer-content').height($this.height() - 95);
								});
							}
						});
					});
				});

				$('#import').on('click', function() {
					var that = this;
					var index = layer.tips('只想提示地精准些', that,{tips: [1, 'white']});
					$('#layui-layer'+index).children('div.layui-layer-content').css('color','#000000');
				});

				$('.site-table tbody tr').on('click', function(event) {
					var $this = $(this);
					var $input = $this.children('td').eq(0).find('input');
					$input.on('ifChecked', function(e) {
						$this.css('background-color', '#EEEEEE');
					});
					$input.on('ifUnchecked', function(e) {
						$this.removeAttr('style');
					});
					$input.iCheck('toggle');
				}).find('input').each(function() {
					var $this = $(this);
					$this.on('ifChecked', function(e) {
						$this.parents('tr').css('background-color', '#EEEEEE');
					});
					$this.on('ifUnchecked', function(e) {
						$this.parents('tr').removeAttr('style');
					});
				});
				$('#selected-all').on('ifChanged', function(event) {
					var $input = $('.site-table tbody tr td').find('input');
					$input.iCheck(event.currentTarget.checked ? 'check' : 'uncheck');
				});
            });
		</script>
	</body>

</html>