<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ornament.dao.MeasureDao">
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <!-- 查询单条记录 -->

    <select id="getMeasures" resultType="com.ornament.domain.Measure">
        SELECT * FROM measure WHERE 1=1
        <if test="startDate != null">
            AND measureDate &gt;= #{startDate}
        </if>
        <if test="startDate != null">
            AND measureDate &lt;= #{endDate}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        LIMIT #{pageStart}, 3;
    </select>
</mapper>